body {
    font-family: 'Inter Variable', sans-serif;
    background-color: #111010;
    color: white;
    padding-inline: 1rem;
}

.main {
    display: grid;
    place-items: center;
}

.questionCard {
    padding: 1.25rem;
    margin-bottom: 1.5rem;
    background-color: #262626;
    border-radius: 1rem;
    width: 60%;
}

.questionCard:hover {
    cursor: pointer;
}

.questionDialog {
    width: 60%;
    border: none;
    color: white;
    outline: white solid 1px;
    background-color: #404040;
    border-radius: 1rem;
}

::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.7);
}

.selectedTopic {
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #38bdf8;
    
}